* {
    align-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
i {
    height: 50px;
}
label {
    margin-right: 10px;
}
button {
    height: 40px;
    margin: 5px;
}
.centralize {
    text-align: center;
}